{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"ASG onhour/offhour Policy Triggered",
         "color":"{{ action['slack_msg_color']|default("good") }}",
         "fields":[
            {
               "title":"Resources",
               "value":"{%- for resource in resources -%}
                        {{ resource['AutoScalingGroupName'] }} \n
                        {%- endfor -%}"
            },
            {
               "title":"Account",
               "value":"{{ account }}"
            },
            {
               "title":"Region",
               "value":"{{ region }}"
            },
            {
               "title":"Action",
               "value":"{{ action['action_desc'] }}"
            }
         ]
      }
   ],
   {%- if not recipient.startswith('https://') %}
   "channel":"{{ recipient }}",
   {%- endif -%}
   "username":"Cloud Custodian"
}
