policies:
- name: aws-ecs-service-deployment-failures
  resource: aws.ecs-service
  description: 'Detects ECS services with excessive deployment failure attempts'
  filters:
  - type: list-item
    key: deployments
    attrs:
    - type: value
      key: status
      value: primary
      value_type: normalize
    - type: value
      key: rolloutState
      value: in_progress
      value_type: normalize
    - type: value
      key: failedTasks
      op: gt
      value: 10
  actions:
  - type: modify
    update:
      desiredCount: 0
  - type: resize
    suspend-scaling: true
  - template: aws-basic_email.html
    to:
    - ysrinu95@gmail.com
    - event-owner
    - resource-owner
    transport:
      type: sqs
      queue: https://sqs.us-east-1.amazonaws.com/172327596604/custodian-mailer-queue
    type: notify
    priority_header: 1
    subject: '[c7n] [{{ account }}] Excessive ECS Service Deployment Failures ({{
      region }})'
    violation_desc: ECS service deployment detected with over 10 failures
    action_desc: 'ECS service desired count has been set to 0 and any autoscaling
      suspended. Please investigate the failures.

      '
vars:
  tags:
    contact: ysrinu95@gmail.com
    environment: production
    repo: ysrinu95/cloud-custodian
  email-notify:
    template: aws-basic_email.html
    to:
    - ysrinu95@gmail.com
    - event-owner
    - resource-owner
    transport:
      type: sqs
      queue: https://sqs.us-east-1.amazonaws.com/172327596604/custodian-mailer-queue
