{
   "attachments":[
      {
         "fallback":"Cloud Custodian Policy Violation",
         "title":"Root User Login Detected!",
         "color":"{{ action['slack_msg_color']|default("danger") }}",
         "fields":[
            {
               "title":"Violation Description",
               "value":"{{ action['violation_desc'] }}"
            },
            {
               "title":"Account",
               "value":"{{ account }}"
            },
            {
               "title":"Action",
               "value":"{{ action['action_desc'] }}"
            }
         ]
      }
   ],
   {%- if not recipient.startswith('https://') %}
   "channel":"{{ recipient }}",
   {%- endif -%}
   "username":"Cloud Custodian"
}
